<div class="   ms-5 me-5  m-auto mb-5 mt-3" style="opacity: 50%;">
  <app-header></app-header>
</div>


<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add User
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">please fill All Fields</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myValidation" class="form">
          <div class="form-group d-flex mt-2">
            <label for="name" class="col-3">Name</label>
            <input formControlName="name" #name id="name" type="text" class="form-control" />
          </div>
          <div class="text-center" *ngIf="NameValid ==false" style="color: red;"> User Name not valid</div>

          <div class="form-group d-flex mt-2">
            <label for="email" class="col-3">Email-Address</label>
            <input formControlName="email" #email id="email" type="text" class="form-control" />
          </div>
          <div class="text-center" *ngIf=" MailValid==false" style="color: red;"> Email is Required and match it's
            pattern</div>

          <div class="form-group d-flex mt-2">
            <label for="phone" class="col-3">Phone</label>
            <input formControlName="phone" #phone id="phone" type="text" class="form-control" />
          </div>
          <div class="text-center" *ngIf="PhoneValid==false" style="color: red;"> Phone is Required and must be Numbers
            only</div>

          <div class="form-group d-flex mt-2">
            <label for="address" class="col-3">Address</label>
            <input formControlName="street" #street id="street" type="text" class="form-control" placeholder="street" />
            <input formControlName="suite" #suite id="suite" type="text" class="form-control" placeholder="suite" />
            <input formControlName="city" #city id="city" type="text" class="form-control" placeholder="city" />
          </div>
          <div class="text-center" *ngIf="StreetValid==false" style="color: red;"> Street is Required</div>
          <div class="text-center" *ngIf="SuiteValid==false" style="color: red;"> Suite is Required</div>
          <div class="text-center" *ngIf="CityValid==false" style="color: red;"> City is Required and must be characters
            only</div>


          <div class="form-group text-center mt-4 d-flex justify-content-evenly">
            <input type="button" (click)="add(name.value, email.value, phone.value,street.value,suite.value,city.value)"
              value="ADD" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-success" />
            <input type="button" class="btn btn-outline-success" value="Cancel"  data-bs-dismiss="modal" />

          </div>
        </form>

      </div>
      
    </div>
  </div>
</div>  -->

<table class="table table-success table-striped text-center m-auto" style="width: 1200px;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Number</th>
      <th scope="col">Adress</th>
      <th scope="col">ALBUMS</th>
      <th scope="col">UPDATE</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of users">
      <td> {{s.id}}</td>
      <td> <a routerLink="/users{{s.id}}">{{s.name}}</a></td>
      <td> {{s.email}} </td>
      <td> {{s.phone}}</td>
      <td> {{s.address.street}} st, {{s.address.suite}} , {{s.address.city}}</td>
      <!-- <td>
             
              <button type="button" class="btn btn-outline-dark position-relative"  routerLink="/users/{{s.id}}/albums">
                ALBUMS
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                  10<span class="visually-hidden">unread messages</span>
                </span>
              </button>

            </td> -->
      <td class="text-center"><a routerLink="/users/{{s.id}}/albums"><img src="assets/images/album-logo.png"
            style="width: 35px; " /></a> </td>

      <td class="text-center"><a routerLink="/users/{{s.id}}/update"><img src="assets/images/edit-logo.png"
            style="width: 35px; " /></a> </td>
      <td class="text-center"><a routerLink="/users/{{s.id}}/delete"> <img src="assets/images/delete-logo1.png"
            style="width: 35px;" /></a> </td>
    </tr>
  </tbody>
</table>